app==0.0.1
astroid==2.3.3
autopep8==1.4.4
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
blinker==1.4
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.3
dnspython==1.16.0
eventlet==0.31.0
Flask==1.1.1
Flask-Mail==0.9.1
Flask-Session==0.3.1
Flask-SocketIO==4.1.0
Flask-SQLAlchemy==2.4.0
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
pexpect==4.7.0
pip-tools==4.3.0
psycopg2==2.8.4
ptyprocess==0.6.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
python-engineio==3.9.3
python-socketio==4.1.0
pytz==2019.2
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.12
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.25.8
virtualenv==16.7.5
virtualenvwrapper-win==1.2.5
Werkzeug==0.16.0
wrapt==1.11.2
