<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", ()=> {
        document.querySelector(".signup").onsubmit= checkPassword;
      });
			function checkPassword()
			{
				let p1=document.querySelector("#password").value;
				let p2=document.querySelector("#re_password").value;

				if(p1!=p2)
				{
					document.querySelector('.errormessage').innerHTML="Passwords did not match.";
					document.querySelector("#re_password").value="";
					return false;
				}

		 }
      function hello() {
          alert('Hello!');
      }
    </script>
		<title>Sign Up</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		 <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<style media="screen">
			body
			{
				background: radial-gradient(circle, lightgreen, white);
				background-image: url("https://i.ytimg.com/vi/rdGhwe1Q6LY/maxresdefault.jpg") ;
				background-size: cover;
			}
			header
			{
				padding:20px;
				margin:10px;
				font:48px;
				color:navy;
				text-align:center;
				font-style:bold;
			}

			footer
			{
				padding:10px;
			}

			.signup
			{
			margin: 0 auto;
			width:50%;
			}
			.errormessage
			{
			color:red;
			}

			.dashboard
			{
			float:right;
			}
		</style>

	</head>
	<body>
		<header><h1></h1></header>
		<div class='container'>
      <form class="signup" action="{{ url_for('signup') }}" method="post" >
      <div>
      <h1>Create an Account</h1>
      </div>
        <div class="form-group" >
          <lebel>Username</lebel>
          <input class="form-control" type="email" id="username" name="username" placeholder="you@example.com"  required >
        </div>
				<div class="form-group">
					<label for="display_name">Display Name</label>
					<input class="form-control" type="text" id="display_name" name="display_name" placeholder="Display Name" required>

				</div>
        <div class="form-group">
          <lebel>Password</lebel>
          <input class="form-control" type="password" id="password" name="password" placeholder="Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
        <small class="text-muted" >Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.</small>
        </div>
        <div class="form-group">
          <lebel>Re-enter Password</lebel>
          <input class="form-control" type="password" id='re_password' name="re_password" placeholder="Re-enter Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"  >Sign Up</button>
        </div>

        <div class="errormessage">

          </div>
					<div>
					{% if message %}
					<lebel class='errormessage' >{{ message }}</lebel>
					{% endif %}
					</div>

        <footer>
      Already Registered? <a href="{{ url_for('login') }}" >Log In here.</a>
      </footer>
      </form>

    </div>
  </body>
</html>
