<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", ()=> {
		document.querySelector(".signup").onsubmit= checkPassword;
		document.querySelector('#re_password').onkeyup=chkPwd;
		document.querySelector('#password').onkeyup=chkPwd;
		document.querySelector('#display_name').onkeyup=function(){
			val= document.querySelector('#display_name').value.trim();
			if( val.length >3){
			const request = new XMLHttpRequest();
			request.open('POST', '/display_name')
			request.onload = () => {
				const data = JSON.parse(request.responseText)
				if (data.success) {
					document.querySelector('#display_name_message').innerText='This display name is available.';
					document.querySelector('#display_name_message').style.color="green";
				}
				else{
					document.querySelector('#display_name_message').innerText ='This display name is already taken.';
					document.querySelector('#display_name_message').style.color="red";
				}

			};
			f = new FormData();
			f.append('display_name', val);
			request.send(f);
		}
		else{
			document.querySelector('#display_name_message').innerText ="";
		}
		};
      });
			function checkPassword()
			{
				let p1=document.querySelector("#password").value;
				let p2=document.querySelector("#re_password").value;

				if(p1!=p2)
				{
					document.querySelector('.errormessage').innerHTML="Passwords did not match.";
					document.querySelector("#re_password").value="";
					return false;
				}
		 }
		 function chkPwd()
		 {
			 let p1=document.querySelector("#password").value;
			 let p2=document.querySelector("#re_password").value;

			 if(p1!=="" && p2!="" && p1!=p2)
			 {
				 document.querySelector('#password_message').innerText="Passwords did not match.";


			 }
			 else
			 document.querySelector('#password_message').innerText="";
		}
      function hello() {
          alert('Hello!');
      }
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sign Up</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		 <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<style media="screen">
			body
			{
				background: radial-gradient(circle, lightgreen, white);
				background-image: url("https://i.ytimg.com/vi/rdGhwe1Q6LY/maxresdefault.jpg") ;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.container{
				height: 100vh;
			}
			header
			{
				padding: 10px 0 10px 0;
				margin:10px;
				font:48px;
				color:navy;
				text-align:center;
				font-style:bold;
			}

			footer
			{
				padding:10px;
			}

			@media (min-width:800px)
      {


				 .signup
			{
			margin: 0 auto;
			width:50%;
			}}
			.errormessage
			{
			color:red;
			}

			.dashboard
			{
			float:right;
			}
		</style>

	</head>
	<body>
		<header><h1>Create an Account</h1></header>
		<div class='container'>
      <form class="signup" action="{{ url_for('signup') }}" method="post" >
      <div>
      <h1></h1>
      </div>
        <div class="form-group" >
          <lebel>Username</lebel>
          <input class="form-control" type="email" id="username" name="username" placeholder="you@example.com"  required >
        </div>
		<div class="form-group">
			<label for="display_name">Display Name</label>
			<input class="form-control" type="text" id="display_name" name="display_name" placeholder="Display Name" minlength="4" required>
			<small id="display_name_message" ></small>

		</div>
        <div class="form-group">
          <lebel>Password</lebel>
          <input class="form-control" type="password" id="password" name="password" placeholder="Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
        <small class="text-muted" >Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.</small>
        </div>
        <div class="form-group">
          <lebel>Re-enter Password</lebel>
          <input class="form-control" type="password" id='re_password' name="re_password" placeholder="Re-enter Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
					<small id="password_message" class="errormessage"></small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"  >Sign Up</button>
        </div>

        <div class="errormessage">

          </div>
					<div>
					{% if message %}
					<lebel class='errormessage' >{{ message }}</lebel>
					{% endif %}
					</div>

        <footer>
      Already Registered? Log In <a href="{{ url_for('login') }}" >here.</a>
      </footer>
      </form>

    </div>
  </body>
</html>
